.container{
  width: 500px;
  margin: auto;
  margin-top: 11%;
}

.tictac-row{
  display: flex;
  justify-content: space-between;
}

.square{
  display: flex;
  justify-content: center;
  border: 2px solid black;
  width: 100%;
}